<section class="bio">
  <a href="https://github.com/nativvstudios/nativvstudios.github.io" title="This blog is open source!">
    <img src="{{site.data.author.dp}}" alt="{{ site.data.author.name }} logo" class="bio-avatar" />
  </a>
  <div class="bio-content">{{site.data.author.description}}</div>
  <div class="bio-social">
    {% for i in site.data.author.contact %}
      {% if i.title == "email" %}
      <a href="{{ i.url }}" aria-label="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>
      {% else %}
      <a href="{{ i.url }}" target="_blank" rel="noopener" aria-label="{{ i.title | capitalize }}">
        <i class="fa-brands fa-{{ i.title }}"></i>
      </a>
      {% endif %}
    {% endfor %}

    {% if site.linklist != "" %}
      <a href="/links.html" aria-label="All links">
        <i class="fa-solid fa-link"></i>
      </a>
    {% endif %}
  </div>
  {% include navbar.html %}
</section>
