<head>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">

<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/c281819682.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V10883YNNL"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V10883YNNL');
</script>


  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=5" />
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="Nativv Studios">
  <meta name="theme-color" content="#2a2831">


  <title>{{site.title}} | {{page.title}}</title>

  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />

  {% if page.layout == "post" %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css" />
  {% endif %}

  <script src="{{site.baseurl}}/assets/js/animatedBackground.js"></script>
  <script src="{{site.baseurl}}/assets/js/categories.js"></script>

  {% if page.layout == "post" or page.layout == "portfolio" %}
  <script defer src="{{site.baseurl}}/assets/js/lbox.js"></script>
  {% endif %}

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
