
<!-- fork of https://codepen.io/joaosousa/pen/ZEEKWmv -->
<html class="pagenotfound">
<body class="pagenotfound">
  
<div class="center">
  <div class="error">
    <div class="number">4</div>
    <div class="illustration">
      <a href="{{site.baseurl}}/">
      <div class="circle"></div>
      <div class="clip">
        <div class="paper">
          <div class="face">
            <div class="eyes">
              <div class="eye eye-left"></div>
              <div class="eye eye-right"></div>
            </div>
            <div class="rosyCheeks rosyCheeks-left"></div>
            <div class="rosyCheeks rosyCheeks-right"></div>
            <div class="mouth"></div>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="number">4</div> 
    <br>
  </div>

  <div class="text">Oops. The page you're looking for doesn't exist....Do I exist? Do you exist? What is this? What is life? What are we? WHO ARE YOU?!</div>
  <a class="PageNotFoundButton" href="{{site.baseurl}}/">Back Home</a>
</div>
</body>
</html>
