
<!-- fork of https://codepen.io/joaosousa/pen/ZEEKWmv -->
<div class="error-page">
  <div class="error-numbers">
    <div class="error-number">4</div>
    <div class="illustration">
      <a href="{{site.baseurl}}/">
        <div class="circle"></div>
        <div class="clip">
          <div class="paper">
            <div class="face">
              <div class="eyes">
                <div class="eye eye-left"></div>
                <div class="eye eye-right"></div>
              </div>
              <div class="rosyCheeks rosyCheeks-left"></div>
              <div class="rosyCheeks rosyCheeks-right"></div>
              <div class="mouth"></div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="error-number">4</div>
  </div>

  <p class="error-text">Oops. The page you're looking for doesn't exist....Do I exist? Do you exist? What is this? What is life? What are we? WHO ARE YOU?!</p>
  <a class="btn mt-6" href="{{site.baseurl}}/">Back Home</a>
</div>
