.FooterCenter {
    font-size: 16px;
    color: #9fabb3;
    width: 100%;
    max-width: 100%;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
    a.Link{
      color: cyan;
      border-bottom: 1px solid cyan;
    }

    a.Link:hover:before  {
      content: "😂 ";
      
    }
  }

  .FooterCenter404 {
    font-size: 16px;
    color: #9fabb3;
    height: 100%;
    width: 100%;
    margin: 0 0 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    a.Link{
      color: cyan;
      border-bottom: 1px solid cyan;
    }

    a.Link:hover:before  {
      content: "😂 ";
      
    }
  }