<!DOCTYPE html>
<html lang="en">
  <div id="gradient">

  {% include head.html %}

  <body>
    <main>
      {% include header.html %} {% include bio.html %}
      <section class="articles">
        <article class="article">
          <a href="{{site.sitehome}}" class="article-area"></a>
          <h2 class="article-title is-centered">
            <a href="{{site.sitehome}}"> About Us! </a>
          </h2>
          <!-- <a href="#!" data-base-url="{{site.baseurl}}" class="category"></a> -->

          <h2 class="article-title is-centered"> THIS PAGE IS UNDER CONSTRUCTION <BR>
            CHECK BACK SOON :)
          </h2>
          <img src="/assets/uploads/nativvsplash.png" alt="" />
        </article>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
  </div>
</html>
