<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include dayNightObj.html %}
    <main class="container container-sm">
      {% include header.html %}
      {% include bio.html %}

      <section class="article-grid mt-8">
        {% for post in site.posts %}
          {% include post-card.html post=post %}
        {% endfor %}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
