<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <div id="gradient">
    {% include dayNightObj.html %}
  <body>
    <main class="container container-sm">
      {% include header.html %}
      {% include navbar.html %}

      <section class="links-grid mt-8">
        {% for i in site.data.author.linklist %}
        <a href="{{i.url}}" class="card link-card p-6 transition" style="--hover-color: {{ i.color }}">
          <h2 class="font-display text-center">{{ i.title }}</h2>
        </a>
        {% endfor %}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
  </div>
</html>
