<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include dayNightObj.html %}
    <main class="container container-sm">
      {% include header.html %}
      {% include navbar.html %}

      <section class="links-grid mt-8">
        {% for i in site.data.author.linklist %}
        <a href="{{ i.url }}" class="card link-card transition" style="--hover-color: {{ i.color }}"{% unless i.url contains 'mailto:' %} target="_blank" rel="noopener"{% endunless %}>
          <span class="link-card-text">
            <span class="link-card-title">{{ i.title }}</span>
            <span class="link-card-url">{{ i.url | remove: 'https://' | remove: 'http://' | remove: 'mailto:' }}</span>
          </span>
          <span class="link-card-arrow" aria-hidden="true">&#8599;</span>
        </a>
        {% endfor %}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
