<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include dayNightObj.html %}
    <main class="container container-sm py-8">
      {% include header.html %}
      {% include navbar.html %}
      <section class="card-glass p-8 rounded-xl">
        <div class="mb-6">
          <h2 class="font-display text-3xl mb-2">{{page.title}}</h2>
          <small class="text-muted">{{page.date | date_to_string}}</small>
          <div class="flex flex-wrap gap-2 mt-4">
            {% for c in page.categories %}
            <a href="#!" class="badge badge-default category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="post-content">{{content}}</div>
        <div class="py-4">
          {% include comments.html %}
        </div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
