<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include dayNightObj.html %}
    <main class="container container-sm">
      {% include header.html %}
      {% include bio.html %}

      <section class="article-grid mt-8">
        <article class="card-glass p-6 text-center">
          <img src="/assets/uploads/nativvsplash.png" alt="Nativv Studios" class="rounded-xl mb-4" style="max-width:100%;" />
          <h2 class="text-xl">This page is under construction. Check back soon!</h2>
        </article>

        {% for post in site.categories.rangers %}
          {% include post-card.html post=post %}
        {% endfor %}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
