<!DOCTYPE html>
<html lang="en">
  <div id="gradient">
  {% include dayNightObj.html %}

  {% include head.html %}

  <body>
    <main>
      {% include header.html %} 
      {% include bio.html %}
      <section class="articles">
        {% for post in site.categories.tutorials %}
        <article class="article">
          <a href="{{site.baseurl}}{{post.url}}" class="article-area"></a>
          <h2 class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title | markdownify}} </a>
          </h2>
          <small class="date">{{post.date | date_to_string}}</small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category"
              >{{c}}</a
            >
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
  </div>
</html>
